body {
    font-family: Arial, sans-serif;
}

h2, h3 {
    color: #2e7d32;
    text-align: center;
}

ul {
    width: 60%;
    margin: auto;
    background-color: #e9ffe9;
    border: 1px solid #8fbc8f;
    padding: 15px;
    border-radius: 5px;
}

ul li:hover {
    background-color: #d5ffd5;
    cursor: hand;

}

table {
    background-color: #ffffff;
    width: 80%;
    margin: 20px;
    border: 2px solid #8fbc8f;
}

th, td {
    border: 1px solid #8fbc8f;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #c6f5c6;
}

td {
    background-color: #e9ffe9;
}

